In [1]:
import pandas as pd
# matplotlib inline
import matplotlib
import sklearn
from kmapper import jupyter

# Import the class
import kmapper as km

In [2]:
df = pd.read_csv('test.csv')
df

,Name,Position,Club,Division,Based,Nation,Height,Weight,Age,Preferred Foot,...,Cmp,Com,Cmd,Bra,Bal,Ant,Agi,Agg,Aer,Acc
0,Lionel Messi,"AM (RC), ST (C)",Barcelona,Spanish First Division,Spain (First Division),ARG,170,72,32,Left,...,18,2,2,10,19,19,19,7,2,18
1,Cristiano Ronaldo,"AM (RL), ST (C)",Juventus,Italian Serie A,Italy (Serie A),POR,185,83,34,Either,...,14,4,1,16,14,18,13,6,2,15
2,Kylian MbappÃ©,"AM (RL), ST (C)",Paris SG,Ligue 1 Conforama,France (Ligue 1 Conforama),FRA,178,73,20,Right,...,18,2,1,12,14,17,16,6,4,20
3,Manuel Neuer,GK,FC Bayern,Bundesliga,Germany (Bundesliga),GER,192,90,33,Either,...,20,12,17,14,14,19,15,8,14,13
4,Neymar,"M (L), AM (LC), ST (C)",Paris SG,Ligue 1 Conforama,France (Ligue 1 Conforama),BRA,175,68,27,Right,...,17,3,1,14,14,16,18,10,4,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144745,Yuan Jinxing,ST (C),Unknown,Unknown,China,CHN,169,81,41,Right Only,...,7,3,3,2,3,9,8,8,1,11
144746,Aizudin Abdul Rahman,M (C),BSRC,Bruneian Premier League,Brunei (Premier League),BRU,180,69,24,Right Only,...,4,1,3,1,3,4,9,14,2,9
144747,Berlin Jean-Gilles,ST (C),CS Monteuil,PremiÃ¨re Ligue de soccer du QuÃ©bec,Canada (PLSQ),HAI,180,79,32,Right Only,...,8,3,1,1,2,4,10,6,3,11
144748,Frederik van Hauen,M (C),Skovshoved,2. Division,Denmark (2. Division),DEN,195,85,19,Right Only,...,3,3,3,3,4,4,3,16,1,5
144749,Hui Kim Yeung,M (C),Freemen,Hong Kong Lower Division,Hong Kong (China PR) (Lower Division),HKG,172,65,24,Right Only,...,8,3,2,1,4,2,12,16,2,13

In [3]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

newdf = df.select_dtypes(include=numerics)
newdf.drop(['Height', 'Weight', 'Age', 'Value', 'Wage','CA','PA'], axis=1, inplace=True)
'''
Height    int64
Weight    int64
Age       int64
Value     int64
Wage      int64
'''
newdf

,Wor,Vis,Thr,Tec,Tea,Tck,Str,Sta,TRO,Ref,...,Cmp,Com,Cmd,Bra,Bal,Ant,Agi,Agg,Aer,Acc
0,7,20,2,20,14,7,9,13,3,1,...,18,2,2,10,19,19,19,7,2,18
1,10,14,2,17,10,8,16,15,3,2,...,14,4,1,16,14,18,13,6,2,15
2,10,13,1,17,10,2,11,14,2,1,...,18,2,1,12,14,17,16,6,4,20
3,14,12,19,12,18,3,16,10,20,14,...,20,12,17,14,14,19,15,8,14,13
4,10,16,1,20,8,1,10,13,1,4,...,17,3,1,14,14,16,18,10,4,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144745,3,1,4,6,2,1,1,6,2,2,...,7,3,3,2,3,9,8,8,1,11
144746,9,4,3,5,5,4,3,5,1,3,...,4,1,3,1,3,4,9,14,2,9
144747,2,1,3,1,1,1,2,7,2,2,...,8,3,1,1,2,4,10,6,3,11
144748,8,7,2,8,6,4,6,4,3,3,...,3,3,3,3,4,4,3,16,1,5
144749,10,2,3,3,5,3,3,6,1,3,...,8,3,2,1,4,2,12,16,2,13

In [17]:
newdf.columns

Index(['Wor', 'Vis', 'Thr', 'Tec', 'Tea', 'Tck', 'Str', 'Sta', 'TRO', 'Ref',
       'Pun', 'Pos', 'Pen', 'Pas', 'Pac', '1v1', 'OtB', 'Nat', 'Mar', 'L Th',
       'Lon', 'Ldr', 'Kic', 'Jum', 'Hea', 'Han', 'Fre', 'Fla', 'Fir', 'Fin',
       'Ecc', 'Dri', 'Det', 'Dec', 'Cro', 'Cor', 'Cnt', 'Cmp', 'Com', 'Cmd',
       'Bra', 'Bal', 'Ant', 'Agi', 'Agg', 'Aer', 'Acc'],
      dtype='object')

In [34]:
test_df = df[['Fre', 'Fla', 'Fir', 'Fin',
       'Dri', 'Det', 'Dec', 'Cro', 'Cor', 'Cnt', 'Cmp', 'Com', 'Cmd',
       'Bra', 'Bal', 'Ant', 'Agi', 'Agg', 'Aer', 'Acc']]
test_df

,Fre,Fla,Fir,Fin,Dri,Det,Dec,Cro,Cor,Cnt,Cmp,Com,Cmd,Bra,Bal,Ant,Agi,Agg,Aer,Acc
0,19,20,19,20,20,20,20,15,15,13,18,2,2,10,19,19,19,7,2,18
1,15,18,17,19,15,20,18,15,13,16,14,4,1,16,14,18,13,6,2,15
2,10,18,16,17,18,14,16,13,10,13,18,2,1,12,14,17,16,6,4,20
3,13,6,13,3,3,18,16,2,10,15,20,12,17,14,14,19,15,8,14,13
4,17,20,18,16,20,16,15,16,16,10,17,3,1,14,14,16,18,10,4,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144745,1,8,10,7,6,7,5,1,2,3,7,3,3,2,3,9,8,8,1,11
144746,2,1,7,3,1,9,10,1,2,2,4,1,3,1,3,4,9,14,2,9
144747,1,4,5,11,1,6,6,1,1,1,8,3,1,1,2,4,10,6,3,11
144748,2,2,10,2,4,12,13,3,3,4,3,3,3,3,4,4,3,16,1,5
144749,2,4,3,1,2,7,11,2,2,2,8,3,2,1,4,2,12,16,2,13

In [35]:
data = test_df.to_numpy()
data

array([[19, 20, 19, ...,  7,  2, 18],
       [15, 18, 17, ...,  6,  2, 15],
       [10, 18, 16, ...,  6,  4, 20],
       ...,
       [ 1,  4,  5, ...,  6,  3, 11],
       [ 2,  2, 10, ..., 16,  1,  5],
       [ 2,  4,  3, ..., 16,  2, 13]], dtype=int64)

In [36]:
projection_list = [item for item in range(0, 47)]

In [37]:
# Initialize
mapper = km.KeplerMapper(verbose=1)

# Fit to and transform the data
projected_data = mapper.fit_transform(data, projection=[0]) # X-Y axis

# Create a cover with 10 elements
cover = km.Cover(n_cubes=20, perc_overlap=0.3, limits=None, verbose=0)

# Create dictionary called 'graph' with nodes, edges and meta-information
graph = mapper.map(projected_data, data, 
                   clusterer=sklearn.cluster.DBSCAN(algorithm='auto', eps=3.5, leaf_size=30, 
                                                    metric='euclidean', metric_params=None, min_samples=3, 
                                                    n_jobs=None, p=None), 
                   cover=cover, nerve=km.GraphNerve(min_intersection=1), precomputed=False, remove_duplicate_nodes=False)

KeplerMapper(verbose=1)
..Composing projection pipeline of length 1:
	Projections: [0]
	Distance matrices: False
	Scalers: MinMaxScaler()
..Projecting on data shaped (144750, 20)

..Projecting data using: [0]

..Scaling with: MinMaxScaler()

Mapping on data shaped (144750, 20) using lens shaped (144750, 1)

Creating 20 hypercubes.

Created 7 edges and 146 nodes in 0:00:18.981818.

In [38]:
mapper.visualize(graph, path_html="classifier_x1_1.html",
                 title="classifiers",
                 #color_function=y, # y is the classification label light=0 dark=1
                 #color_function=X[:,5] # coloring by the 6th coordinate projection
                )
jupyter.display(path_html="classifier_x1_1.html")

Wrote visualization to: classifier_x1_1.html

C:\Users\jacks\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\display.py:419: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")